
</div>

<div class="footer-padding"> 
<div class="footer">
    <!-- <div class="footer"> -->
   <p> Made with ❤️ by Lamia Rimty 2022</p>
    <!-- Copyright 2022 Lamia Rimty -->
   <!-- </div>   -->

</div>
</div>
</body>
</html>