<%- include('partials/header'); -%>

<h1>Compose</h1>
<input type="text" placeholder="New Item" autocomplete="off ">
<!-- <textarea name="composeItem" rows="5" cols="20" placeholder="Write here..." autocomplete="off "></textarea> -->

<button type="submit" name="Publish" value="<%= composePublish %>">Publish</button>


<%- include('partials/footer'); -%>