
</body>
<div class="footer-padding">
<footer>
    <!-- <div class="footer"> -->
    Made with ❤️ by Lamia Rimty 2022
    <!-- Copyright 2022 Lamia Rimty -->
   <!-- </div>   -->
</footer>

</div>
</html>